/* palette:
  primary color: #212121
  secondary color: #757575
  accent color: #2196F3
  white: #FFFFFF 
  social network svg #AFB1B8
  bg main: #FFFFFF
  bg accent: #F5F4FA 
  bg footer: #2F303A*/
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #f5f4fa;
  --main-white-color: #fff;
  --logo-svg-color: #afb1b8;
  --footer-bg: #2f303a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  background-color: #ffffff;
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.button {
  color: var(--primary-text-color);
  background-color: var(--bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.button.primary {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--main-white-color);
}
.button:active {
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

/* page header style */

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-accent {
  color: #2196f3;
}
/* .site-nav .link {
} */
.contacts .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* hero style */

.hero {
  background-color: var(--footer-bg);
}
.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* featers section style */

.title {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section .title {
  font-size: 36px;
  line-height: 1.17;
}
.subtitle {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
/* .features.list .subtitle {
} */
.description {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.2;
}
.features.list .description {
  font-size: 14px;
  /* line-height: 1.71; */
}

/* team section style */

.team.list .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* text-align: center; */
}
.team.list .description {
  line-height: 1.2;
  /* text-align: center; */
}

/* footer style */
.footer {
  background-color: var(--footer-bg);
}
.footer .logo {
  color: var(--main-white-color);
}
.address.list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address.list .link:hover,
.address.list .link:focus {
  color: var(--accent-color);
}
.address.list .map {
  color: var(--main-white-color);
}
.footer .subtitle {
  text-transform: uppercase;
  color: var(--main-white-color);
}

/* portfolio page styles */
.portfolio.list .subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio.list .description {
  line-height: 1.88;
}
